<div class="container" *ngIf="this.tiendaService.validaciones?.length>0">
  <div class="alert alert-danger" role="alert"  *ngFor="let validacion of this.tiendaService.validaciones" >
    {{validacion}} 
  </div>
</div>

<div class="card bg-dark text-white mt-4">
  <div class="card-header">{{titulo}}
    <button type="button" class="close" aria-label="Close" (click) = 'volver()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <form>

      <div class="form-group row">
        <label for="nombreTienda" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "tienda.nombreTienda" name="nombreTienda" >
        </div>
      </div>

      <div class="form-group row">
        <label for="direccion" class="col-form-label col-sm-2">Direccion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "tienda.direccion" name="direccion">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6"> <!--Poner que si existe el documento edit, sino crear-->
          <button class="btn btn-primary" role="button" (click)='addTienda()' *ngIf="!nuevaTienda else elseBlock" >Crear</button>
       
          <ng-template #elseBlock>

            <button class="btn btn-primary" role="button" (click)='modTienda()'>Editar</button>

          </ng-template>

        </div>
      </div>
    </form>

  </div>
</div>
