<div class="container">
  <div class="card border-danger mb-3 mt-3  tabla">
    <div class="card-header title">Tiendas</div>
    <div class="card-body text-danger">
      <h5 class="card-title title">Listado de Tiendas</h5>
     
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/tienda/form']">Crear Tienda</button>
      </div>
      <div *ngIf="tiendas?.length<=0" class="alert alert-info">
        No hay registros en la base de datos
      </div>
      <table class="table table-bordered table-striped" *ngIf="tiendas?.length>0">
        <thead>
          <tr>
            <th>Nombre Tienda</th>
            <th>Dirección</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tienda of tiendas">
            <td>{{ tienda.nombreTienda }}</td>
            <td>{{ tienda.direccion }}</td>
           <td>
             <button type="button" name="editar" class="btn btn-info" [routerLink]="['/tienda/form', tienda.nombreTienda]">Editar</button>
           </td>
           <td>
             <button  type="button" name="crear" class="btn btn-danger" (click)='removeTienda(tienda)'>Eliminar</button>
           </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>