<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive= "active">
        <a class="nav-link" routerLink="/tienda">Tiendas</a>
      </li>
      <li class="nav-item" routerLinkActive= "active">
        <a class="nav-link" routerLink="/cliente">Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive= "active">
        <a class="nav-link" routerLink="/juego">Juegos</a>
      </li>
      <li class="nav-item" routerLinkActive= "active">
        <a class="nav-link" routerLink="/pedido">Pedidos</a>
      </li>
      <li class="nav-item" routerLinkActive= "active">
        <a class="nav-link" routerLink="/company">Compañias</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entidades
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/cliente">Clientes</a>
          <a class="dropdown-item" routerLink="/juego">Juegos</a>
          <a class="dropdown-item" routerLink="/tienda">Tiendas</a>
          <a class="dropdown-item" routerLink="/pedido">Pedidos</a>
          <a class="dropdown-item" routerLink="/company">Compañia</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/directivas">Todas las Entidades</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>