<div class="container" *ngIf="this.companyService.validaciones?.length>0">
  <div class="alert alert-danger" role="alert"  *ngFor="let validacion of this.companyService.validaciones" >
    {{validacion}} 
  </div>
</div>
<!--El anterior div me gestiona los errores que me llegan del back,
   aunque al restringir el botón crear ya no es tan necesario-->
<div class="card bg-dark text-white mt-4">
  <div class="card-header">Crear Compañia
    <button type="button" class="close" aria-label="Close" (click) = 'volver()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <form #companyForm="ngForm">

      <div class="form-group row">
        <label for="referencia" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "company.nombreCompany" name="referencia" required #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Es necesario especificar un nombre de compañia
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="documentoCliente" class="col-form-label col-sm-2">CIF</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "company.cif" name="cif" required  #cif="ngModel">
          <div class="alert alert-danger" *ngIf="cif.invalid && (cif.dirty || cif.touched)">
            <div *ngIf="cif.errors.required" >
              Es necesario especificar un cif para la compañia
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="juego" class="col-form-label col-sm-2">Juegos</label>
        <div class="col-sm-6">
          <select multiple class="form-control" [(ngModel)] = "company.juegos" name="company"  style="width: 500px">
            <option *ngFor="let juego of juegos" [ngValue]="juego.refJuego">{{ juego.titulo }}</option>
            </select>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6"> <!--Poner que si existe el documento edit, sino crear-->
          <button class="btn btn-primary" role="button" (click)='addCompany()' *ngIf="!nuevaCompany else elseBlock" [disabled]="!companyForm.form.valid" >Crear</button>
       
          <ng-template #elseBlock>

            <button class="btn btn-primary" role="button" (click)='modCompany()' [disabled]="!companyForm.form.valid" >Editar</button>

          </ng-template>

        </div>
      </div>
    </form>

  </div>
</div>
