<div class="container">
  <div class="card border-success mb-3 mt-3 tabla">
    <div class="card-header title">Compañias</div>
    <div class="card-body text-success">
      <h5 class="card-title title">Listado de Compañias</h5>
     
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/company/form']">Crear Compañia</button>
      </div>
      <div *ngIf="companies?.length<=0" class="alert alert-info">
        No hay registros en la base de datos
      </div>
      <table class="table table-bordered table-striped" *ngIf="companies?.length>0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>CIF</th>
            <th>Juegos</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{ company.nombreCompany }}</td>
            <td>{{ company.cif }}</td>
            <td>{{ company.juegos }}</td>
           <td>
             <button type="button" name="editar" class="btn btn-info" [routerLink]="['/company/form', company.nombreCompany]">Editar</button>
           </td>
           <td>
             <button  type="button" name="crear" class="btn btn-danger" (click)='removeCompany(company)'>Eliminar</button>
           </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>

