<div class="container">
  <div class="card border-primary mb-3 mt-3 tabla">
    <div class="card-header title">Pedidos</div>
    <div class="card-body text-primary">
      <h5 class="card-title title">Listado de Pedidos</h5>
     
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/pedido/form']">Crear Pedido</button>
      </div>
      <div *ngIf="pedidos?.length<=0" class="alert alert-info">
        No hay registros en la base de datos
      </div>
      <table class="table table-bordered table-striped" *ngIf="pedidos?.length>0">
        <thead>
          <tr>
            <th>Referencia</th>
            <th>Estado</th>
            <th>Tienda</th>
            <th>Cliente</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.refPedido }}</td>
            <td>{{ pedido.estado }}</td>
            <td>{{ pedido.nombreTienda }}</td>
            <td>{{ pedido.documentoCliente }}</td>
           <td>
             <button type="button" name="editar" class="btn btn-info" [routerLink]="['/pedido/form', pedido.refPedido]">Editar</button>
           </td>
           <td>
             <button  type="button" name="crear" class="btn btn-danger" (click)='removePedido(pedido)'>Eliminar</button>
           </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
