<div class="container" *ngIf="this.pedidoService.validaciones?.length>0">
  <div class="alert alert-danger" role="alert"  *ngFor="let validacion of this.pedidoService.validaciones" >
    {{validacion}} 
  </div>
</div>
<!--El anterior div me gestiona los errores que me llegan del back,
   aunque al restringir el botón crear ya no es tan necesario-->
<div class="card bg-dark text-white mt-4">
  <div class="card-header">Crear Pedido
    <button type="button" class="close" aria-label="Close" (click) = 'volver()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <form #pedidoForm="ngForm">

      <div class="form-group row">
        <label for="referencia" class="col-form-label col-sm-2">Referencia</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "pedido.refPedido" name="referencia" required #referencia="ngModel">
          <div class="alert alert-danger" *ngIf="referencia.invalid && (referencia.dirty || referencia.touched)">
            <div *ngIf="referencia.errors.required">
              Es necesario especificar un referencia
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="documentoCliente" class="col-form-label col-sm-2">Documento Cliente</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "pedido.documentoCliente" name="documentoCliente" required pattern="[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]" #doc="ngModel">
          <div class="alert alert-danger" *ngIf="doc.invalid && (doc.dirty || doc.touched)">
            <div *ngIf="doc.errors.required" >
              Es necesario especificar un cliente para el pedido
            </div>
            <div *ngIf="doc.errors.pattern">
              El documento debe tener formato DNI
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="juego" class="col-form-label col-sm-2">Juegos</label>
        <div class="col-sm-6">
          <select multiple class="form-control" [(ngModel)] = "pedido.juegos" name="juego" required  #juegoss="ngModel" style="width: 500px">
            <option *ngFor="let juego of juegos" [ngValue]="juego">{{ juego.titulo }}</option>
            </select>
          <div class="alert alert-danger" *ngIf="juegoss.invalid && (juegoss.dirty || juegoss.touched)">
            <div *ngIf="juegoss.errors.required">
              Es necesario especificar el/los juegos del pedido
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label for="categoria" class="col-form-label col-sm-3">Estado</label>
        <div class="col-sm-6">
            <select name="categoria" class="form-control" [(ngModel)]="pedido.estado" required #estado="ngModel">
                <option *ngFor="let estadoOption of estados" [ngValue]="estadoOption">{{ estadoOption }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="estado.invalid && estado.touched">
                <div *ngIf="estado.errors.required">
                    Debe seleccionar el estado del pedido
                </div>
            </div>
        </div>
    </div> 


      <div class="form-group row">
        <div class="col-sm-6"> <!--Poner que si existe el documento edit, sino crear-->
          <button class="btn btn-primary" role="button" (click)='addPedido()' *ngIf="!nuevoPedido else elseBlock" [disabled]="!pedidoForm.form.valid" >Crear</button>
       
          <ng-template #elseBlock>

            <button class="btn btn-primary" role="button" (click)='modPedido()' [disabled]="!pedidoForm.form.valid" >Editar</button>

          </ng-template>

        </div>
      </div>
    </form>

  </div>
</div>
