<button type= "button" (click)= "setHabilitar()" class="btn btn-primary my-3">{{estado(habilitar)}}</button>
<div class="card">
  <div class="card-header">
    Listado Entidades
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <li class="list-group-item" *ngFor="let entidad of listaEntidades">{{ entidad }}</li>
    
  </ul>
</div>
