<div class="container" *ngIf="this.juegoService.validaciones?.length>0">
  <div class="alert alert-danger" role="alert"  *ngFor="let validacion of this.juegoService.validaciones" >
    {{validacion}} 
  </div>
</div>
<!--El anterior div me gestiona los errores que me llegan del back,
   aunque al restringir el botón crear ya no es tan necesario-->
<div class="card bg-dark text-white mt-4">
  <div class="card-header">Crear Juego
    <button type="button" class="close" aria-label="Close" (click) = 'volver()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <form #juegoForm="ngForm">

      <div class="form-group row">
        <label for="nombreCliente" class="col-form-label col-sm-2">Título</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "juego.titulo" name="titulo" required minlength="3" #titulo="ngModel">
          <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
            <div *ngIf="titulo.errors.required">
              Es necesario especificar un título
            </div>
            <div *ngIf="titulo.errors.minlength">
              Es necesario un mín de 3 caracteres para el título
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="documento" class="col-form-label col-sm-2">Referencia</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "juego.refJuego" name="refJuego" required  #ref="ngModel">
          <div class="alert alert-danger" *ngIf="ref.invalid && (ref.dirty || ref.touched)">
            <div *ngIf="ref.errors.required" >
              Es necesario especificar una referencia
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="pegi" class="col-form-label col-sm-2">Pegi</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" [(ngModel)] = "juego.pegi" name="pegi" required  #pegi="ngModel" >
          <div class="alert alert-danger" *ngIf="pegi.invalid && (pegi.dirty || pegi.touched)">
            <div *ngIf="pegi.errors.required">
              Es necesario especificar un pegi para el juego
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="fechaLanzamiento" class="col-form-label col-sm-2">Fecha Lanzamiento</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" [(ngModel)] = "juego.pegi" name="fechaLanzamiento" required #fechaLanz="ngModel" >
          <div class="alert alert-danger" *ngIf="fechaLanz.invalid && (fechaLanz.dirty || fechaLanz.touched)">
            <div *ngIf="fechaLanz.errors.required">
              Es necesario especificar una fecha de lanzamiento para el juego
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="categoria" class="col-form-label col-sm-3">Categoría</label>
        <div class="col-sm-6">
            <select name="categoria" class="form-control" [(ngModel)]="juego.categoria" required #categoria="ngModel">
                <option *ngFor="let categoriaOption of categorias" [ngValue]="categoriaOption">{{ categoriaOption }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="categoria.invalid && categoria.touched">
                <div *ngIf="categoria.errors.required">
                    Debe rellenar la categoría del Juego
                </div>
            </div>
        </div>
    </div> 


      <div class="form-group row">
        <div class="col-sm-6"> <!--Poner que si existe el documento edit, sino crear-->
          <button class="btn btn-primary" role="button" (click)='addJuego()' *ngIf="!nuevoJuego else elseBlock" [disabled]="!juegoForm.form.valid" >Crear</button>
       
          <ng-template #elseBlock>

            <button class="btn btn-primary" role="button" (click)='modJuego()' [disabled]="!juegoForm.form.valid" >Editar</button>

          </ng-template>

        </div>
      </div>
    </form>

  </div>
</div>