<div class="container">
  <div class="card border-warning mb-3 mt-3  tabla">
    <div class="card-header title">Juegos</div>
    <div class="card-body text-warning">
      <h5 class="card-title title">Listado de Juegos</h5>
     
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/juego/form']">Crear Juego</button>
      </div>
      <div *ngIf="juegos?.length<=0" class="alert alert-info">
        No hay registros en la base de datos
      </div>

      <table class="table table-bordered table-striped"  *ngIf="juegos?.length>0">
        <thead>
          <tr>
            <th>refJuego</th>
            <th>Título</th>
            <th>Categoría</th>
            <th>Pegi</th>
            <th>fechaLanzamiento</th>
            <th>Companies</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let juego of juegos">
            <td>{{ juego.refJuego }}</td>
            <td>{{ juego.titulo }}</td>
            <td>{{ juego.categoria }}</td>
            <td>{{ juego.pegi }}</td>
            <td>{{ juego.fechaLanzamiento }}</td>
            <td>{{ juego.companies }}</td>
            <td>
              <button type="button" name="editar" class="btn btn-info" [routerLink]="['/juego/form', juego.refJuego]">Editar</button>
            </td>
            <td>
              <button  type="button" name="crear" class="btn btn-danger" (click)='removeJuego(juego)'>Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>