html{
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
  background: linear-gradient(rgb(161, 237, 250), rgb(255, 255, 255));
}



/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
