
<div class="title">
   BlockBuster
</div>


<div class="list-group mt-5">
  <a class="nav-link" routerLink="/directivas" class="list-group-item list-group-item-action mb-1">BlockBuster Elementos</a>

  
  <a class="nav-link" routerLink="/pedido" class="list-group-item list-group-item-action list-group-item-primary">Pedidos</a>
  <a class="nav-link" routerLink="/company" class="list-group-item list-group-item-action list-group-item-success">Compañias</a>
  <a class="nav-link" routerLink="/tienda" class="list-group-item list-group-item-action list-group-item-danger">Tiendas</a>
  <a class="nav-link" routerLink="/juego" class="list-group-item list-group-item-action list-group-item-warning">Juegos</a>
  <a class="nav-link" routerLink="/cliente" class="list-group-item list-group-item-action list-group-item-info">Clientes</a>
</div>
