<div class="container">
<div class="card border-info mb-3 mt-3  tabla">
  <div class="card-header title">Clientes</div>
  <div class="card-body text-info">
    <h5 class="card-title title">Listado de Clientes</h5>
   
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/cliente/form']">Crear Cliente</button>
    </div>
    <div *ngIf="clientes?.length<=0" class="alert alert-info">
      No hay registros en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Documento</th>
          <th>FechaNac</th>
          <th>Correo</th>
          <!--<th>Password</th>-->
          <th>Roles</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes | pipePag: page_size:page_number" >
          <td>{{ cliente.nombreCliente }}</td>
          <td>{{ cliente.documento }}</td>
          <td>{{ cliente.fechaNac }}</td>
          <td>{{ cliente.correo }}</td>
         <!-- <td>{{ cliente.password }}</td>-->
         <td>{{ cliente.roles }}</td>
         <td>
           <button type="button" name="editar" class="btn btn-info" [routerLink]="['/cliente/form', cliente.documento]">Editar</button>
         </td>
         <td>
           <button  type="button" name="crear" class="btn btn-danger" (click)='removeCliente(cliente)'>Eliminar</button>
         </td>
        </tr>
      </tbody>
    </table>
    <div>
      <mat-paginator [length]="clientes.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
      </mat-paginator>
    </div>
  </div>
</div>