<div class="container" *ngIf="this.clienteService.validaciones?.length>0">
  <div class="alert alert-danger" role="alert"  *ngFor="let validacion of this.clienteService.validaciones" >
    {{validacion}} 
  </div>
</div>

<div class="card bg-dark text-white mt-4">
  <div class="card-header">{{titulo}}
    <button type="button" class="close" aria-label="Close" (click) = 'volver()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">

    <form #clienteForm="ngForm">

      <div class="form-group row">
        <label for="nombreCliente" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "cliente.nombreCliente" name="nombreCliente" required minlength="3" #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Es necesario especificar nombre
            </div>
            <div *ngIf="nombre.errors.minlength">
              Es necesario un mín de 3 caracteres para el nombre
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="documento" class="col-form-label col-sm-2">Documento</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "cliente.documento" name="documento" required ngModel pattern="[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]" #doc="ngModel">
          <div class="alert alert-danger" *ngIf="doc.invalid && (doc.dirty || doc.touched)">
            <div *ngIf="doc.errors.required" >
              Es necesario especificar un documento
            </div>
            <div *ngIf="doc.errors.pattern">
              El documento debe tener formato DNI
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="correo" class="col-form-label col-sm-2">Correo</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" [(ngModel)] = "cliente.correo" name="correo" required email #correo="ngModel" >
          <div class="alert alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
            <div *ngIf="correo.errors.required">
              Es necesario especificar una dirección de correo
            </div>
            <div *ngIf="correo.errors.email">
              El correo no tiene un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="fechaNac" class="col-form-label col-sm-2">Fecha Nacimiento</label>
        <div class="col-sm-6">
          <!--<input type="date" class="form-control" [(ngModel)] = "cliente.fechaNac" name="fechaNac" required  #fecha="ngModel">-->
          <input [matDatepicker]="myDatepicker"  [(ngModel)] = "cliente.fechaNac" name="fechaNac" required  #fecha="ngModel">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
            <div *ngIf="fecha.errors.required">
              Es necesario especificar una fecha de nacimiento
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="text" class="col-form-label col-sm-2">Password</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" [(ngModel)] = "cliente.password" name="password" minlength="3" required  #pass="ngModel">
          <div class="alert alert-danger" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
            <div *ngIf="pass.errors.required">
              Es necesario especificar una contraseña
            </div>
            <div *ngIf="pass.errors.minlength">
              La contraseña debe tener mínimo 3 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6"> <!--Poner que si existe el documento edit, sino crear-->
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!nuevoCliente else elseBlock" [disabled]="!clienteForm.form.valid" >Crear</button>
       
          <ng-template #elseBlock>

            <button class="btn btn-primary" role="button" (click)='modCliente()' [disabled]="!clienteForm.form.valid" >Editar</button>

          </ng-template>

        </div>
      </div>
    </form>

  </div>
</div>